:root {
  --talisman-connect-control-background: #383838;
  --talisman-connect-control-foreground: inherit;
  --talisman-connect-active-background: #5a5a5a;
  --talisman-connect-active-foreground: inherit;
  --talisman-connect-modal-background: #121212;
  --talisman-connect-modal-foreground: #fafafa;
  --talisman-connect-button-background: var(
    --talisman-connect-control-background
  );
  --talisman-connect-button-foreground: #fafafa;
  
  /* Shield Design Variables */
  --shield-width: 600px;
  --shield-height: calc(var(--shield-width) * 0.8);
  --acc: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --acc-2: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
